@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --header-height: 75px;
  --primary-color: #df872d;
  --secondary-color: #f1af23;
  --gray-color: #ddd;
  --dark-gray-color: #666;
  --button-color: #fee6a6;
}

* {
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  word-break: keep-all;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: #fff;
}

a {
  color: #000;
}
